.wallpaper{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
.block1BH{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.logo{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("../../../Utils/gestions\ de\ carnes\ dr.png") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.block2BH{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100%;
    height: 100%;
}
.conteiner{
    color: var(--ColorFontTwo);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont{
    display: flex;
    flex-direction:column;
    position: relative;
    border-color: var(--ColorBorderOne);
    justify-content: center;
    align-items: center;
}
.user{
    width: 180px;
    border-radius:10px;  
}



