.ConteinerLogOut{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;

}