body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  
  /* 
  --Amarillo:  rgb(255, 187, 0);
  --verde agua:   rgb(7, 170, 151);
  --verde oscuro:  rgb(0, 88, 92);
  --azul:   rgb(0, 156, 168);
  --naranja: rgb(226, 74, 27);
   */
  --ColorOne:   rgb(0, 88, 92);
  --ColorTwo:   rgb(7, 170, 151);
  --ColorTrhee: rgb(0, 0, 0);
  --ColorFour:  rgb(255, 187, 0);
  --ColorFive:  rgb(255, 255, 255);
  --ColorSix:   rgb(0, 156, 168);
  --ColorSeven: rgb(255, 0, 0);
  --ColorEight: rgb(7, 170, 151);
  --ColorOk:    rgb(0, 129, 0);
  --ColorNine:  rgb(238, 83, 83);

  
  --ColorFontOne:   rgb(0,0,0);
  --ColorFontTwo:   rgb(0, 0, 0);
  --ColorFontTrhee: rgb(255, 0, 0);
  --ColorFontFour:  rgb(0, 0, 0);


  --ColorBorderOne: rgb(0,0,0);
  --ColorBorderTwo: rgb(255,255,255);
  
}

